body{
    background-image: url(img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#container{
        width: 1000px;
        margin: 0 auto;
}
#content{
    margin-left: 35px;
}
   .seat{
   display: block;
    width: 90px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    background-color: white;
    float: left;
    margin: 1px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: rgb(247, 108, 132);
   }
   .seat:hover{
    background-color: pink;
    box-shadow: 2px 4px 4px #ccc;
   }
   .seat:nth-of-type(8n+2){
   margin-right: 90px;
   }
   .seat:nth-of-type(8n+6){
   margin-right: 90px;
   }
    #box{
        width: 800px;
        margin: 0 auto;
        height: 50px;
        background-color: pink;
        text-align: center;
        padding-top: 10px;
        color: rgb(228, 45, 75);
        font-size: 20px;
        border-radius: 20px;
        clear: both;
    }
    .container{
        width: 960px;
        margin: 0 auto;
    }
    .navi{
        width: 960px;
        height: 60px;
        padding-bottom: 10px;
        border-bottom: 2px solid #ccc;
        background-color: rgba(255, 198, 217,0.9);
        border-radius: 20px;
       
    }
    .navi ul{
        list-style: none;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-left: 100px;
    }
    .navi ul li{
        float: left;
        width: 150px;
        padding: 10px;
    }
    .navi a:link,.navi a:visited{
        display: block;
        font-size: 16px;
        color: rgb(151, 35, 130);
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        border-radius: 10px;
    }
    .navi a:hover, .navi a:focus{
        background-color: pink;
        color: #fff;
    }
    .navi a:active{
        background-color: purple;

    }
    .content{
        margin: 30px auto;
        width: 400px;
        padding: 20px;
        border: 3px dotted rgb(211, 30, 60);
        border-radius: 20px;
        color: rgb(236, 79, 79);
    }
    #intro{
        margin-top: 100px;
    }
    #intro:target{
        background-color: #d5ffe1;
        color: #156b0a;
    }
    #movie:target{
        background-color: #ffe4ce;
    }
    #booking:target{
        background-color: #fff8dc;
    }
    #place{
        margin: 50px 450px;
        width: 100px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        color: rgb(228, 45, 75);
        background-color: rgb(255, 216, 255);
        border: none;
        box-shadow: 2px 2px 2px #ccc;
        border-radius: 20px;
    }
    #screen{
        margin:0  auto;
        margin-bottom: 50px;
        background-color: #ccc;
        width: 500px;
        height: 50px;
        text-align: center;
        font-size: 20px;
        line-height: 2.5;
        border-radius: 30%;
        
    }
    